<h1><%= @article.title %></h1>
<p>By <b> <%= @article.author %> </b></p>

<a href="<%= @article.picture.url %>">
  <%= image_tag @article.picture.url :medium %>
</a>

<p>
  <%= @article.content %>
</p>

<% if current_user.try :has_access_to?, @article %>
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', articles_path %>

<h2>Comments</h2>

<%= render 'comments/form' %>

<div class="comments">
  <%= render @article.comments %>
</div>
